extends layout
block content  
  section.content.dashboard(style='padding: 15px;')
    .panel.panel-default.update-data-panel(style='display:none;')
      .panel-heading #{__('UPDATE')} #{__('DETAIL')}
      .panel-body
        form.update-form
          input(type="hidden", value='#{data.Idx}').idx
          .form-group.clearfix.col-md-2
            label.display-block #{__('Pidx')}
            input.form-control.pidx(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Fabric Type')}
            select.select-bar.fabrictype(style='width: 100%;')
              - for (var i = 0; i < l_fabrictype.length; ++i) {
                  option(value='#{l_fabrictype[i].id}') #{l_fabrictype[i].Name}
              - }
            //- input.form-control.fabrictype(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Fabric Idx')}
            input.form-control.fabricidx(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Buyer')}
            select.select-bar.buyer(style='width: 100%;')
              - for (var i = 0; i < l_buyer.length; ++i) {
                  option(value='#{l_buyer[i].id}') #{l_buyer[i].Name}
              - }
            //- input.form-control.buyer(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Color')}
            input.form-control.color(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Lote')}
            input.form-control.lote(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Rack')}
            input.form-control.rack(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('QtyYds')}
            input.form-control.qtyyds(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('QtyRoll')}
            input.form-control.qtyroll(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Width')}
            input.form-control.width(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Weight')}
            input.form-control.weight(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Fileno')}
            input.form-control.fileno(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Remarks')}
            input.form-control.remarks(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('MoveStatus')}
            select.select-bar.movestatus(style='width: 100%;')
              - for (var i = 0; i < l_movestatus.length; ++i) {
                  option(value='#{i}') #{l_movestatus[i]}
              - }
          .form-group.col-md-12
            button.btn.btn-sm.btn-success.pull-right(type='submit') #{__('Update Data')}
    .panel.panel-default
      .panel-heading
        | #{__("LIST")}
      .panel-body(style='min-height: 400px;')
        .align-justify
          table.table.table-bordered.order-info-table
            tbody
              tr
                td(style='width:30%;') #{__("Idx")}
                td.t-idx #{data.Idx}
              tr
                td #{__("Pidx")}
                td.t-pidx #{data.Pidx}
              tr
                td #{__("Fabric Type")}
                - var i;
                - for (i = 0; i < l_fabrictype.length; ++i) {
                  - if(l_fabrictype[i].id == data.FabricType) {
                      td.t-fabrictype #{l_fabrictype[i].Name}
                      - break;                      
                  - }
                - }
                - if(i == l_fabrictype.length) {
                    td.t-fabrictype
                - }
                
              tr
                td #{__("Fabric Idx")}
                td.t-fabricidx #{data.FabricIdx}
              tr
                td #{__("Buyer")}
                - var i;
                - for (i = 0; i < l_buyer.length; ++i) {
                  - if(l_buyer[i].id == data.Buyer) {
                      td.t-buyer #{l_buyer[i].Name}
                      - break;                      
                  - }
                - }
                - if(i == l_buyer.length) {
                    td.t-buyer
                - }
              tr
                td #{__("Color")}
                td.t-color #{data.Color}
              tr
                td #{__("Lote")}
                td.t-lote #{data.Lote}
              tr
                td #{__("Rack")}
                td.t-rack #{data.Rack}
              tr
                td #{__("QtyYds")}
                td.t-qtyyds #{data.QtyYds}
              tr
                td #{__("QtyRoll")}
                td.t-qtyroll #{data.QtyRoll}
              tr
                td #{__("Width")}
                td.t-width #{data.Width}
              tr
                td #{__("Weight")}
                td.t-weight #{data.Weight}
              tr
                td #{__("Fileno")}
                td.t-fileno #{data.Fileno}
              tr
                td #{__("Remarks")}
                td.t-remarks #{data.Remarks}
              tr
                td #{__("Move Status")}
                - var i;
                - for (i = 0; i < l_movestatus.length; ++i) {
                  - if(i == data.MoveStatus) {
                      td.t-movestatus #{l_movestatus[i]}
                      - break;
                  - }
                - }
                - if(i == l_movestatus.length) {
                    td.t-movestatus
                - }
        form(action='/dashboard/manage/detail_remove' method='post' onsubmit='return validateForm()').remove-order-form
          input(type="hidden", name = 'id', value = '#{data.Idx}')
          input(type="hidden", name = 'type', value = 'T')
          //- button(type='submit').btn.btn-sm.btn-success.pull-right.remove-data #{__("Delete Data")}
          .btn.btn-sm.btn-success.pull-right.update-data(style='margin-right: 20px;') #{__("Update Data")}

block script
  script.
    var data = (!{JSON.stringify(data)});
    var l_fabrictype = (!{JSON.stringify(l_fabrictype)});
    var getFabricTypeName = function(id) {
      for(var i = 0; i < l_fabrictype.length; i++) {
        if(l_fabrictype[i].id == id) return l_fabrictype[i].Name;
      }
      return '';
    }
    var l_buyer = (!{JSON.stringify(l_buyer)});
    var getBuyerName = function(id) {
      for(var i = 0; i < l_buyer.length; i++) {
        if(l_buyer[i].id == id) return l_buyer[i].Name;
      }
      return '';
    }
    var l_movestatus = (!{JSON.stringify(l_movestatus)});
    var getMoveStatusName = function(id) {
      if(l_movestatus.length > id) {
        return l_movestatus[id];
      } else {
        return '';
      }      
    }
    $('.update-form').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/dashboard/manage/detail/update',
        type: 'POST',
        data: {
          type: 'T',
          idx: $('.idx').val(),
          pidx: $('.pidx').val(),
          fabrictype: $('.fabrictype').val(),
          fabricidx: $('.fabricidx').val(),
          buyer: $('.buyer').val(),
          color: $('.color').val(),
          lote: $('.lote').val(),
          rack: $('.rack').val(),
          qtyyds: $('.qtyyds').val(),
          qtyroll: $('.qtyroll').val(),
          width: $('.width').val(),
          weight: $('.weight').val(),
          fileno: $('.fileno').val(),
          remarks: $('.remarks').val(),
          movestatus: $('.movestatus').val()
        },
        success: function(res) {
          if(res.status == 1) {
            data.Idx = $('.idx').val(); data.Pidx = $('.pidx').val(); data.FabricType = $('.fabrictype').val(); data.FabricIdx = $('.fabricidx').val();
            data.Buyer = $('.buyer').val(); data.Color = $('.color').val(); data.Lote = $('.lote').val(); data.Rack = $('.rack').val();
            data.QtyYds = $('.qtyyds').val(); data.QtyRoll = $('.qtyroll').val(); data.Width = $('.width').val(); data.Weight = $('.weight').val();
            data.Fileno = $('.fileno').val(); data.Remarks = $('.remarks').val(); data.MoveStatus = $('.movestatus').val();
            $('.update-data-panel').fadeOut();
            $('.t-idx').html(data.Idx); $('.t-pidx').html(data.Pidx); $('.t-fabrictype').html(getFabricTypeName(data.FabricType)); $('.fabricidx').html(data.FabricIdx);
            $('.t-buyer').html(getBuyerName(data.Buyer)); $('.t-color').html(data.Color); $('.t-lote').html(data.Lote); $('.t-rack').html(data.Rack);
            $('.t-qtyyds').html(data.QtyYds); $('.t-qtyroll').html(data.QtyRoll); $('.t-width').html(data.Width); $('.t-weight').html(data.Weight);
            $('.t-fileno').html(data.Fileno); $('.t-remarks').html(data.Remarks); $('.t-movestatus').html(getMoveStatusName(data.MoveStatus));
          } else {
            alert('Cannot update data.');
          }
        }
      })
    })
    var init = function() {
      $('.select-bar').select2();
      $('.update-data-panel').on('click', 'a.panel-close', function () {
        $(this).parents('.update-data-panel').fadeOut();
      });
      $('.update-data-panel').fadeOut();
      $('.update-data').on('click', function() {
        $('.update-data-panel').fadeIn();
        $('.idx').val(data.Idx); $('.pidx').val(data.Pidx); $('.fabrictype').val(data.FabricType).trigger('change');
        $('.fabricidx').val(data.FabricIdx); $('.buyer').val(data.Buyer).trigger('change'); $('.color').val(data.Color);
        $('.lote').val(data.Lote); $('.rack').val(data.Rack); $('.qtyyds').val(data.QtyYds); $('.qtyroll').val(data.QtyRoll);
        $('.width').val(data.Width); $('.weight').val(data.Weight); $('.fileno').val(data.Fileno); $('.remarks').val(data.Remarks);
        $('.movestatus').val(data.MoveStatus).trigger('change');
      })      
    }
    init();
    