extends ../layout
block content  
  section.content.dashboard(style='padding: 15px;')
    .panel.panel-default.update-data-panel(style='display:none;')
      .panel-heading #{__('UPDATE')} #{__('DETAIL')}
      .panel-body
        form.update-form
          input(type="hidden", value='#{data.Idx}').idx
          .form-group.clearfix.col-md-2
            label.display-block #{__('Pidx')}
            input.form-control.pidx(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('ItemType')}
            input.form-control.itemtype(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Description')}
            input.form-control.description(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Qty')}
            input.form-control.qty(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('Status')}
            input.form-control.status(type='text')
          .form-group.clearfix.col-md-2
            label.display-block #{__('MoveStatus')}
            select.select-bar.movestatus(style='width: 100%;')
              - for (var i = 0; i < l_movestatus.length; ++i) {
                  option(value='#{i}') #{l_movestatus[i]}
              - }
          .form-group.col-md-12
            button.btn.btn-sm.btn-success.pull-right(type='submit') #{__('Update Data')}
    .panel.panel-default
      .panel-heading
        | #{__("OTHERS LIST")}
      .panel-body
        .align-justify
          table.table.table-bordered.info-table
            thead
              tr
                th #{__("Idx")}
                td #{__("Pidx")}
                td #{__("ItemType")}
                td #{__("Description")}
                td #{__("Qty")}
                td #{__("Status")}
                td #{__("Move Status")}
            tbody
              - for(var j = 0; j < data.length; j++) {
                tr
                  td.t-idx #{data[j].Idx}
                  td.t-pidx #{data[j].Pidx}
                  td.t-itemtype #{data[j].ItemType}
                  td.t-description #{data[j].Description}
                  td.t-qty #{data[j].Qty}
                  td.t-status #{data[j].Status}
                  - var i;
                  - for (i = 0; i < l_movestatus.length; ++i) {
                    - if(i == data[j].MoveStatus) {
                        td.t-movestatus #{l_movestatus[i]}
                        - break;
                    - }
                  - }
                  - if(i == l_movestatus.length) {
                      td.t-movestatus
                  - }
              - }            
        //- form(action='/dashboard/manage/detail_remove' method='post' onsubmit='return validateForm()').remove-order-form
        //-   input(type="hidden", name = 'id', value = '#{data.Idx}')
        //-   input(type="hidden", name = 'type', value = 'O')
        //-   //- button(type='submit').btn.btn-sm.btn-success.pull-right.remove-data #{__("Delete Data")}
        //-   .btn.btn-sm.btn-success.pull-right.update-data(style='margin-right: 20px;') #{__("Update Data")}

block script
  script.
    var data = (!{JSON.stringify(data)});
    var l_movestatus = (!{JSON.stringify(l_movestatus)});
    var getMoveStatusName = function(id) {
      if(l_movestatus.length > id) {
        return l_movestatus[id];
      } else {
        return '';
      }      
    }
    var getMoveStatusID = function(name) {
      for(var i = 0; i < l_movestatus.length; i++) {
        if(l_movestatus[i] == name){ 
          return i;
        }
      }
    }
    $('.update-form').submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/dashboard/input/manage/detail/update',
        type: 'POST',
        data: {
          type: 'O',
          idx: $('.idx').val(),
          pidx: $('.pidx').val(),
          itemtype: $('.itemtype').val(),
          description: $('.description').val(),
          qty: $('.qty').val(),
          status: $('.status').val(),
          movestatus: $('.movestatus').val()
        },
        success: function(res) {
          if(res.status == 1) {
            for(var i = 0; i < data.length; i++) {
              if(data[i].Idx == $('.idx').val()) {
                data[i].Idx = $('.idx').val(); data[i].Pidx = $('.pidx').val(); data[i].ItemType = $('.itemtype').val(); data[i].Description = $('.description').val();
                data[i].Qty = $('.qty').val(); data[i].Status = $('.status').val(); data[i].MoveStatus = $('.movestatus').val();
                $('.update-data-panel').fadeOut();
                row.data([data[i].Idx, data[i].Pidx, data[i].ItemType, data[i].Description, data[i].Qty, data[i].Status, getMoveStatusName(data[i].MoveStatus)]).draw();
                refreshEvent();
              }
            }
            data.Idx = $('.idx').val(); data.Pidx = $('.pidx').val(); data.ItemType = $('.itemtype').val(), data.Description = $('.description').val(),
            data.Qty = $('.qty').val(); data.Status = $('.status').val(); data.MoveStatus = $('.movestatus').val();
            $('.update-data-panel').fadeOut();            
          } else {
            alert('Cannot update data.');
          }
        }
      })
    })
    var init = function() {
      $('.select-bar').select2();
      $('.update-data-panel').on('click', 'a.panel-close', function () {
        $(this).parents('.update-data-panel').fadeOut();
      });
      $('.update-data-panel').fadeOut();      
      $('.info-table').DataTable({
        "pageLength": 25,
        responsive: true,
        dom: '<"html5buttons"B>lTfgtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
      });
      refreshEvent();
    }
    var refreshEvent = function() {
      $('.info-table tbody tr').off();
      $('.info-table tbody tr').on('click', function(){
        row = $(".info-table").DataTable().row($(this));
        $('.update-data-panel').fadeIn();
        $('.idx').val($($(this).find('td')[0]).html()); $('.pidx').val($($(this).find('td')[1]).html()); $('.itemtype').val($($(this).find('td')[2]).html());
        $('.description').val($($(this).find('td')[3]).html()); $('.qty').val($($(this).find('td')[4]).html()); $('.status').val($($(this).find('td')[5]).html());
        $('.movestatus').val(getMoveStatusID($($(this).find('td')[6]).html())).trigger('change');
      });
    }
    init();